<div
  class="card mt-5 animate__animated animate__zoomIn w-100"
>
  <div class="row g-0 bg-secondary">
    <div class="col-md-7">
      <img
        [src]="foto.url"
        class="img-fluid rounded-start imgDashboard"
        alt="..."
      />
    </div>
    <div class="col-md-5">
      <div class="card-body">
        <h5 class="card-title">{{ foto.title }}</h5>
        <h6 class="card-subtitle mb-2 ">{{ foto.date }}</h6>
        <button (click)="detalles(foto)"  class="btn btn-primary"
          >Ver más...</button>
      </div>
    </div>
  </div>
</div>
