<div class="opaco border border-4 rounded p-3 mt-5">
  <div class="row row-cols-1 row-cols-lg-2 m-5 ">
    <div *ngIf="(foto | json) == '{}'; then thenBlock; else elseBlock"></div>
  </div>
</div>

<ng-template #thenBlock>
  <div class="col-12 d-flex justify-content-center align-items-center">
   <app-load-spinner></app-load-spinner>
  </div>
</ng-template>

<ng-template #elseBlock>
  <div class="col">
    <img [src]="foto.url" class="img-fluid" />
  </div>
  <div class="col sombra">
    <h2>{{ foto.title }}</h2>
    <span class="fw-bold">{{ foto.date }}</span>
    <p>{{ foto.explanation }}</p>

    <button [routerLink]="['/']" class="btn btn-danger float-end">
      <i class="bi bi-arrow-left"></i> Regresar
    </button>
  </div>
</ng-template>
