/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  width: 100%;
}
.imgBackground {
  background-image: url("../src/assets/img/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}
.imgDashboard {
  height: 350px;
  width: 350px;
}

.sombra {
  text-shadow: 2px 2px 4px #000000;
}

.opaco {
  background-color: #91919170;
}

.tamañoSpinner {
  width: 10rem;
  height: 10rem;
}
