<div class="d-flex justify-content-center">
  <h1 class="mt-5 sombra">Astronomy Picture of the Day</h1>
</div>

<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 m-2">
  <div *ngIf="listaFotos.length == 0; then thenBlock; else elseBlock"></div>
</div>

<ng-template #thenBlock>
  <div class="col-12 d-flex justify-content-center align-items-center">
    <app-load-spinner></app-load-spinner>
  </div>
</ng-template>

<ng-template #elseBlock>
  <div
    class="col d-flex justify-content-center"
    *ngFor="let item of listaFotos"
  >
    <app-tarjeta [item]="item"></app-tarjeta>
  </div>
</ng-template>
