<div class="d-flex justify-content-center">
  <h1>Astronomy Picture of the Day</h1>
</div>

<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 m-2">
  <div *ngIf="listaFotos.length == 0; then thenBlock; else elseBlock"></div>
</div>

<ng-template #thenBlock>
  <div class="col-12 d-flex justify-content-center align-items-center">
    <div
      class="spinner-border"
      style="width: 10rem; height: 10rem"
      role="status"
    >
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</ng-template>

<ng-template #elseBlock>
  <div
    class="col d-flex justify-content-center"
    *ngFor="let item of listaFotos"
  >
    <app-tarjeta [item]="item"></app-tarjeta>
  </div>
</ng-template>
